html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
#app {
    width: 100%;
    height: 100%;
}
svg,
img,
video {
    display: block;
}
img {
    image-rendering: pixelated;
}
img,
video {
    -webkit-user-drag: none;
    object-fit: fill;
}
